In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
df = pd.read_csv('/content/movies.csv')

In [13]:
columns_list = df.columns.to_list()
columns_list

['index',
 'budget',
 'genres',
 'homepage',
 'id',
 'keywords',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'vote_average',
 'vote_count',
 'cast',
 'crew',
 'director']

In [9]:
df.shape

(4803, 24)

In [11]:
selected_features = ['genres','keywords','tagline','cast','director','original_language','original_title',
 'overview','spoken_languages']
selected_features

['genres',
 'keywords',
 'tagline',
 'cast',
 'director',
 'original_language',
 'original_title',
 'overview',
 'spoken_languages']

In [14]:
movie_df = df[selected_features]

In [15]:
for feature in selected_features:
    movie_df[feature] = movie_df[feature].fillna('')

<ipython-input-15-bd0673f7b1d4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df[feature] = movie_df[feature].fillna('')

In [16]:
movie_df.isna().sum()

genres               0
keywords             0
tagline              0
cast                 0
director             0
original_language    0
original_title       0
overview             0
spoken_languages     0
dtype: int64

In [18]:
combined_df = movie_df['genres']+' '+movie_df['keywords']+' '+movie_df['tagline']+' '+movie_df['cast']+' '+movie_df['director']+' '+movie_df['original_language']+' '+movie_df['original_title']+' '+movie_df['overview']
combined_df

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance  A newlywed couple's honeymoon ...
4800    Comedy Drama Romance TV Movie date love at fir...
4801      A New Yorker in Shanghai Daniel Henney Eliza...
4802    Documentary obsession camcorder crush dream gi...
Length: 4803, dtype: object

In [19]:
vec= TfidfVectorizer()
feature_vectors = vec.fit_transform(combined_df)

In [20]:
similarity = cosine_similarity(feature_vectors)

In [21]:
similarity.shape

(4803, 4803)

In [22]:
movies_list = df['title'].to_list()

In [23]:
name = input("enter your favorite movie: ")
find_close_match = difflib.get_close_matches(name ,movies_list)
close_match = find_close_match[0]
movie_idx = df[df.title == close_match]['index'].values[0]
similarity_score = list(enumerate(similarity[movie_idx]))
sort_similiar_movies = sorted(similarity_score,key = lambda x:x[1],reverse =True)
print('Movies suggested for you!')
i=1
for movie in sort_similiar_movies:
    index = movie[0]
    suggested_movie = df[df.index==index]['title'].values[0]
    if(i<=30):
        print(i,'.',suggested_movie)
        i+=1

enter your favorite movie: iron man
Movies suggested for you!
1 . Iron Man
2 . Iron Man 2
3 . Iron Man 3
4 . Avengers: Age of Ultron
5 . Captain America: Civil War
6 . The Avengers
7 . X-Men
8 . Ant-Man
9 . X-Men: Apocalypse
10 . Made
11 . Guardians of the Galaxy
12 . Super
13 . Spider-Man 2
14 . Mystery Men
15 . X-Men: Days of Future Past
16 . The Incredible Hulk
17 . Mortdecai
18 . The Devil's Tomb
19 . X-Men: First Class
20 . Captain America: The Winter Soldier
21 . Two Lovers
22 . X2
23 . R.I.P.D.
24 . Sliding Doors
25 . Kick-Ass 2
26 . G-Force
27 . X-Men: The Last Stand
28 . The Shaggy Dog
29 . Sin City
30 . Surf's Up